.products-info {
  width: 70ch;
}

.products-links ul a {
  color: #424171;
  font-size: 20px;
  font-weight: 400;
  display: block;
  margin-top: 20px;
  position: relative;
}
.products-links ul a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -25px;
  display: block;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
  background-color: #424171;
}

@media screen and (max-width: 650px) {
  .products-info {
    width: 37ch;
  }
}
