.responsive-nav {
  background-color: #142951;
  width: 100%;
  position: absolute;
  z-index: 50;
  top: 0;
}

.head-container {
  background-color: #142951;
  display: flex;
  justify-content: center;
}
.head-top {
  width: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.new-top {
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.5s ease-in;
}

.show-btn {
  padding: 5px 10px;
  font-size: 30px;
  color: gray;
  border-radius: 5px;
  display: none;
}
.nav {
  min-height: 50px;
}
.nav ul {
  display: flex;
  justify-content: center;
}
.nav ul li {
  width: max-content;
  padding: 13px 20px;
  color: #fff;
}
.active {
  background-color: #b4f4a82e;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.5s ease-in;
}

.dropdown {
  flex-direction: column;
  position: absolute;
  z-index: 70;
  top: 100%;
  left: 29.4%;
  padding: 10px 20px;
  color: white;
}
.dropdown li {
  padding-bottom: 10px;
}
.dropShow {
  display: block;
}
.dropHide {
  display: none;
}

@media screen and (max-width: 650px) {
  .responsive-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .show-btn {
    display: block;
  }
  .head-top {
    width: 100px;
    margin-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
  }
  .show-btn {
    margin-right: 10px;
  }
  .nav-container {
    width: 100%;
  }
  .nav ul {
    flex-direction: column;
  }
  .hide {
    display: none;
  }
  .dropdown {
    left: 0;
    top: 60%;
    height: 200px;
    overflow: scroll;
  }
}
