@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Pacifico&family=Poppins&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

:root {
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Common Style */

.bg-dark {
  background-color: #142951;
}

.bg-color {
  background-color: #424171;
}

.text-light {
  color: #424171;
}

.text-dark {
  color: #142951;
}

.common-page-container div p {
  width: 70ch;
}
.common-page-container div h2 {
  width: 60ch;
}

.common-page-list li {
  list-style: disc;
  margin-left: 40px;
  margin-top: 5px;
  width: 60ch;
}

@media screen and (max-width: 650px) {
  .common-page-container {
    padding: 0px 20px 60px 20px;
  }
  .common-page-container div p {
    width: 35ch;
  }
  .common-page-container div h1 {
    font-size: 22px;
  }
  .common-page-container div h2 {
    font-size: 15px;
    margin: 20px 0px;
    width: 35ch;
  }
  .common-page-list li {
    width: 35ch;
    margin-left: 10px;
  }
}

/* Common Style */
